@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.header {
  height: 50vh;
  position: relative;
  background-color: rgb(159, 189, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 899px) {
  .header {
    display: none;
  }
}
.header__heading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header__heading--main {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  animation-name: moveFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-bottom: 3rem;
}

.header__heading--sub {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1rem;
}

.header__heading--sub.tooltip {
  position: relative;
}

.header__heading--sub.tooltip .tooltip--content {
  display: none;
}

.header__heading--sub.tooltip:hover .tooltip--content {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  font-size: 1rem;
  background: #fff;
  color: rgb(119, 117, 117);
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: normal;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-height: 130px;
  overflow: auto;
  padding: 10px;
}

.header__heading--sub.tooltip:hover .tooltip--content ul {
  list-style: none;
}

.header__heading--sub.tooltip:hover .tooltip--content ul li {
  text-align: start;
  margin-bottom: 5px;
}

.fa.fa-info {
  width: 100px;
  height: 100px;
  font-size: 60px;
  margin-top: 10px;
  font-weight: 600;
  border-radius: 50%;
  background-color: white;
  color: rgb(245, 211, 170);
  position: relative;
}

.fa.fa-info::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.main {
  background-color: rgb(159, 189, 189);
  color: white;
  display: flex;
  height: 50vh;
  justify-content: space-around;
}

@media only screen and (max-width: 899px) {
  .main {
    display: none;
  }
}
.main > * {
  width: 30%;
  border: 3px solid rgba(234, 234, 234, 0.227);
  background-color: rgb(187, 221, 221);
}

.main__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__form > * {
  margin: 10px;
}

.main__history {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.main__history__header {
  text-align: center;
}

.main__history__list {
  text-decoration: underline;
  padding: 10px;
  background-color: rgb(159, 189, 189);
  border: 2px solid rgb(237, 202, 158);
  margin: 5px;
}

.main__buttonSubmit {
  width: 100px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  background-color: bisque;
  border: 2px solid rgb(237, 202, 158);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: rgb(187, 221, 221);
  text-transform: uppercase;
  background-color: bisque;
}

.form__label {
  font-size: 1.4rem;
}

.form__select {
  width: 60px;
  height: 30px;
  margin: 20px;
}

@media only screen and (min-width: 900px) {
  .mobile-title {
    display: none;
  }
}
body {
  box-sizing: border-box;
}

/*# sourceMappingURL=index.css.map */
