@import '../abstracts/';

.main {
    background-color: $color-turcoise-dark;
    color: white;
    display: flex;
    justify-content: space-around;
    @include respond(max-tablet){
        display: none;
    }
    &>* {
        width: 30%;
        border: 3px solid $color-dark-grey;
        background-color: $color-turcoise-light;
    }

    &__form {
        @include flexAbsoluteCenter();
        flex-direction: column;

        &>* {
            margin: 10px;
        }
    }

    &__history {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;

        &__header {
            text-align: center;
        }

        &__list {
            padding: 10px;
            background-color: $color-turcoise-dark;
            border: 2px solid rgb(237, 202, 158);
            margin: 5px;
            list-style: none;
        }
    }

    &__buttonSubmit {
        width: 100px;
        height: 40px;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 10px;
        background-color: $color-bisque;
        border: 2px solid rgb(237, 202, 158);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        color: $color-turcoise-light;
        text-transform: uppercase;
        background-color: $color-bisque;
    }
}

.form {
    &__label {
        font-size: 1.4rem;
    }

    &__select {
        width: 60px;
        height: 30px;
        margin: 20px;
    }
}

.mobile-title {
    @include respond(tablet) {
        display: none;
    }
}


